.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.DrawerToggle {
    width: 40px !important;
    height: 100% !important;
    display: flex !important;
    flex-flow: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    padding: 10px 0 !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
}

.DrawerToggle div {
    width: 90% !important;
    height: 3px !important;
    background-color: white !important;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none !important;
    }
}